@charset "UTF-8";
header {
  background: #fff;
  text-align: center;
}

h1 {
  color: red;
}

/*
Демонстрация работы приложения Better comments
* он подкрашивает комменты определенным цветом
? так подкрашивается вопрос
todo: так подкрашивается запись что нужно сделать
! так подкрашивается запись где следует обратить особое внимание
// а так подкрашивается выполненное замечание
*/
body {
  background: #14bd68;
  font-size: 20px;
}

body div {
  font-size: 10px;
}

.block_item {
  padding: 0px 0px;
}
