@import "_header";

h1 {
	color: red;
}

/*
Демонстрация работы приложения Better comments
* он подкрашивает комменты определенным цветом
? так подкрашивается вопрос
todo: так подкрашивается запись что нужно сделать
! так подкрашивается запись где следует обратить особое внимание
// а так подкрашивается выполненное замечание
*/

body {
	background: rgb(20, 189, 104);
	font-size: 20px;
	div {
		font-size: 30px;
	}
}
.block {
	&_item {
		padding: 0px 0px;
	}
}
.block {
}
.block_item {
}
.block_item__new {
}
